@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  background-color: #d9ed92;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#memory-card-container {
  background-color: #d9ed92;
  border-radius: 3px;
  height: fit-content;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 20px;
  border: 2px solid #184e77a1;
  height: 100px;
  width: 100px;
  cursor: pointer;
  border-radius: 10%;
}

.card.backSide {
  background-color: #1e6091;
  transition: 0.15s;
  border: none;
}

.card.invisible {
  visibility: hidden;
}
.card.backSide:hover {
  background-color: #34a0a4;
  height: 110px;
  width: 110px;
  margin: 15px;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.grey {
  background-color: grey;
}
.teal {
  background-color: teal;
}
.wheat {
  background-color: wheat;
}
.pink {
  background-color: pink;
}

.pairs-found-container {
  position: absolute;
  width: 100px;
  left: 20px;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #b5e48c;
  color: #184e77;
  border-radius: 5px;
  padding: 5px;
}
.clicks-container {
  position: absolute;
  width: 100px;
  left: 150px;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #b5e48c;
  color: #184e77;
  border-radius: 5px;
  padding: 5px;
}

/*copmatible for mobile */

@media only screen and (max-width: 600px) {
  #memory-card-container {
    background-color: #d9ed92;
    border-radius: 3px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .card {
    margin: 5px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 10%;
  }
  .card.backSide:hover {
    background-color: #1e6091;
    height: 70px;
    width: 70px;
    margin: 5px;
  }
}
