* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#memory-card-container {
  background-color: white;
  border-radius: 3px;
  height: fit-content;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 20px;

  height: 100px;
  width: 100px;
  cursor: pointer;
  border-radius: 10%;
}

.card.backSide {
  background-color: rgb(0, 0, 0);
  transition: 0.15s;
}
.card.backSide:hover {
  background-color: rgb(22, 22, 22);
  height: 110px;
  width: 110px;
  margin: 15px;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.grey {
  background-color: grey;
}
.teal {
  background-color: teal;
}
.wheat {
  background-color: wheat;
}
.pink {
  background-color: pink;
}

.pairs-found-container {
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  color: white;
}

/*copmatible for mobile */

@media only screen and (max-width: 600px) {
  #memory-card-container {
    background-color: white;
    border-radius: 3px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .card {
    margin: 5px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 10%;
  }
  .card.backSide:hover {
    background-color: rgb(22, 22, 22);
    height: 70px;
    width: 70px;
    margin: 5px;
  }
}
