*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#memory-card-container{
    background-color: white;
    height: fit-content;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    margin: 20px;
    height: 100px;
    width: 100px;
    border: 1px solid rgb(75, 72, 72);
}


.card.backSide{
    background-color: rgb(0, 0, 0);
  
    
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
.grey{
    background-color: grey;
}
.teal{
    background-color: teal;
}
.wheat{
    background-color: wheat;
}
.pink{
    background-color: pink;
}

.pairs-found-container{
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    color: white;
}